<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Page</title>
  <link rel="stylesheet" href="/static/css/stt.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div id="navbar-container"></div>

  <div id="messages">
    <div id="messagesText"></div>
    <button id="messagesButton">Got it</button>
  </div>

  <section class="main">
    <div class="text">
      <div class="main_texts">
        <h6>Powered by advanced AI</h6>
        <h1 id="animated-heading">Turn Your Voice into meaningful Creations</h1>
        <p>Turn Your Voice into Clear, Actionable Text — Powered by AI. Say goodbye to manual typing and messy transcripts.</p>
        <a href="/registration/login.html">Try Full</a>
      </div>
      <div class="main_buttons">
        <p style="text-align: center; font-size: 12px;">Explore yourself</p>
        <div class="record_buttons"></div>
        <p id="recordStatus"></p>
        <p id="recordTimer">00:00</p>
        <canvas id="audioVisualizer" width="300" height="100"></canvas>
      </div>
    </div>

    <div class="custom-audio-player">
      <div class="audio-options">
      <button id="saveBtn" style="display:none; margin-top:10px;">Save</button>

        <button id="deleteBtn">Delete</button>
        <button id="transcribeBtn">Transcribe</button>
      </div>
      <audio id="audioPlayback" controls></audio>
    </div>

    <!-- <div class="write_container">
      <div class="input_group">
        <textarea id="myTextarea" placeholder="Modify with AI.."></textarea>
      </div>
    </div> -->
  </section>

  <!-- Save Popup -->
  <!-- <div class="recording_popup">
    <a href="/templates/stt.html" class="logo"></a>
    <button id="saveBtn" style="display:none; margin-top:10px;">Save</button>
  </div> -->

  <script src="/static/js/stt.js" defer></script>
  <script src="/static/js/navbar.js" defer></script>
</body>
</html>
